.station {
  display: flex;
}

.stationLabel {
  transition: background-color 1.5s ease, color 0.5s ease;
  display: flex;
  /* flex: 1; */
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  color: #fff;
  /* margin-top: -3px; */
  /* margin-right: 5px; */
  margin-left: 10px;
  font-family: "Cooper Hewitt";
  font-weight: 700;
}

.stationLabel :hover {
  color: #f49c27;
}
/* .selected {
  color: #F49C27;
  text-decoration: underline;
} */

.stationRadio {
  position: fixed;
  opacity: 0;
}

.codecs {
  display: flex;
  flex-direction: row;
  font-family: monospace;
}

.codecLabel {
  user-select: none;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .stationLabel {
    /* font-size: 16px !important; */
    /* margin-left: 30px; */
    /* margin-top: -60px; */
  }
}

@media (max-width: 425px) {
  .stationLabel {
    /* font-size: 16px !important; */
  }
}

@media (max-width: 320px) {
  .stationLabel {
    /* font-size: 13px !important; */
    /* margin-top: -27px; */
  }
}
