.section-logo{
  padding:"30px";
  padding-bottom:"30px";
}
.img-logo {
  width: 100px;
  height: auto;
}

.logo_nav {
  margin-top: 3rem;
}

a:link{
  text-decoration: none;
  position: relative;
  color: #4c4c4c;
}

a:visited {
  color: #4c4c4c;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  background-color: transparent;
}

a:active {
  color: #FE9E0D !important;
  background-color: transparent;
}
/* 
a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #FE9E0D;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
} */