.navbar-bottom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 140px;
  padding: 10px 20px 0px;
  /* z-index: 10; */
  transition: all 0.3s ease;
  /* background-size: cover; */
  /* background-position: center 37.3%; */
  border-top: 1px solid #fcba33;
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../Img/header02.png");
  background-position: right bottom 10%;
  background-repeat: no-repeat;
  background-color: #080808;
}

.navbar-bottom a:hover {
  color: #FE9E0D !important;
  background-color: transparent;
}

.search-offcanvas {
  display: none;
}

.search__icon2, .logo_bottom {
  opacity: 0;
  transition: opacity 0.3s ease; /* Animasi transisi */
  z-index: -1;
}

.search__icon2:hover, .logo_bottom:hover {
  filter: brightness(80%);
}

.search__icon2 {
  display: none;
}

.showlogo {
  opacity: 1;
  transition: opacity 0.3s ease; /* Animasi transisi */
  margin-right: 80px;
  margin-left: 10px;
  margin-top: -10px;
}

.showsearch {
  opacity: 1;
  transition: opacity 0.3s ease; /* Animasi transisi */
  cursor: pointer;
  margin-top: -10px;
  display: block;
}

.search__icon2 {
  margin-left: -15px;
  font-size: 40px;
}

.station-selector {
  margin-top: 10px;
  font-size: 22px;
}

.station-streaming{
  color: #F49C27;
  margin-top: -5px;
  margin-left: 35px;
  font-family: "Cooper Hewitt";
}

.border-streaming{
  opacity: 0;
}

.devider-offcanvas{
  color: #fcba33;
}

.offcanvas-title{
  color: #fcba33;
  font-family: "Cooper Hewitt";
  font-weight: 700;
}

.offcanvas-bg{
  color: #fff;
  background-color: rgba(0, 0, 0, 0.9);
  font-family: "Cooper Hewitt";
  font-weight: 700;
}

.offcanvas-menu{
  margin-left: -60px;
  font-family: "Cooper Hewitt";
  font-weight: 700;
  margin-top: -8px;
  width: 170px;
  }

/* .navbar-bottom::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../Img/concert4.jpg);
  background-size: cover;
  background-position: center 38.5%;
  filter: blur(5px);
  z-index: -1;
} */

/* .navbar-item {
  margin-right: auto;
  margin-bottom: 20px;
} */

@media (max-width: 1800px) {
  .search__icon2 {
    /* margin-left: -100px; */
  }
} 

@media (max-width: 1700px) {
  .search__icon2 {
    /* margin-left: -70px; */
  }
} 
/* 
@media (max-width: 1600px) {
  .search__icon2 {
    margin-left: -490px;
  }
}  */

@media (max-width: 1500px) {
  .search__icon2 {
    /* margin-left: -50px; */
  }
} 

@media (max-width: 1400px) {
  .navbar-bottom {
    /* background-position: center 39%; */
  }

  .search__icon2 {
    /* margin-left: -30px; */
  }
}

/* @media (max-width: 1300px) {
  .search__icon2 {
    margin-left: -370px;
  }
} */

@media (max-width: 1200px) {
  .search__icon2 {
    /* margin-left: -10px; */
  }
}

@media (max-width: 1100px) {
  .search__icon2 {
    /* margin-left: 10px; */
  }

  .station-streaming {
    margin-left: -30px;
  }
  
}

@media (max-width: 1000px) {
    
  .navbar-bottom {
    /* background-position: center 42.5%; */
  }

  .search__icon2{
    /* margin-left: -210px; */
  }

  .station-streaming {
  }
}

@media (max-width: 991px) {
  .offcanvas-menu{
    margin-top: -50px;
    margin-left: 50px;
    width: 110px;
  }

  .search__icon2 {
    margin-left: -680px;
    margin-top: 0px;
    opacity: 0;
  }

  .logo_bottom{
    opacity: 1;
    margin-top: -15px;
  }

  .station-selector {
    margin-left: -20px !important;
    /* margin-top: px !important; */
  }

  .station-streaming{
   margin-left: auto;
  }

  .showlogo {
    margin-right: 0px;
    margin-left: 0px;
  }

}

@media (max-width: 890px) {
  .search__icon2 {
    margin-left: -550px;
  }
}

@media (max-width: 767px) {
    
  .station-streaming{
    font-size: 18px;
  }
  
  .search__icon2 {
    margin-left: -80px;
    margin-top: -10px;
    opacity: 0;
  }

  .offcanvas-menu{
    margin-top: -50px;
    margin-left: 50px;
  }

  .station-selector {
    /* margin-left: -50px !important; */
    margin-top: 15px !important;
  }

  .logo_bottom {
    margin-top: -10px;
    opacity: 1;
  }

  /* .navbar-bottom {
    margin-top: 120px;
    padding-top: 20px;
  } */
}

@media (max-width: 700px) {
  .search__icon2 {
    margin-left: 0px;
    z-index: -10;
  }
}

@media (max-width: 645px) {

  .navbar-bottom {
    padding-bottom: -50px !important;
    margin-top: 130px;
  }

  .search__icon2 {
    margin-top: 10px;
    margin-left: -1150px;
    opacity: 0;
    font-size: 0px;
  }

  .search-offcanvas {
    display: contents;
  }

  .offcanvas-menu{
    margin-left: 430px;
  }

  .logo_bottom {
    margin-top: 5px;
  }

  .station-streaming {
    margin-left: 140px;
    margin-top: 0px;
  }

}

@media (max-width: 595px) {
  .offcanvas-menu{
    margin-left: 400px;
  }
}

@media (max-width: 545px) {
  .offcanvas-menu{
    margin-left: 350px;
  }
  .station-streaming {
    margin-left: 100px;
  }
}

@media (max-width: 500px) {
  .offcanvas-menu{
    margin-left: 290px;
  }

  .station-streaming {
    margin-left: 70px;
  }

}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media (max-width: 425px) {
    

  .offcanvas-menu{
    margin-left: 250px;
  }

   
  .station-streaming{
    margin-top: 0px;
    margin-left: 60px;
    font-size: 16px;
  }

  .search__button2{
    margin-left: -300px;
  }

  /* .logo_bottom{
    margin-left: 150px;
  } */

  .search__icon2{
    margin-left: 300px;
    margin-top: -70px;
  }
  
}

@media (max-width: 375px) {
    
  .offcanvas-menu{
    margin-left: 200px;
    margin-top: -50px;
  }

  .search__icon2{
    margin-left: 260px;
    margin-top: -70px;
  }

  .station-streaming{
    margin-left: 40px;
  }
}

@media (max-width: 320px) {
    
  .station-streaming{
    margin-left: 30px;
    /* margin-top: -30px; */
  }

  .offcanvas-menu{
    margin-left: 160px;
  }

  .logo_bottom{
    margin-left: -15px;
  }
  
  .search__icon2{
    margin-left: 235px;
    margin-top: -70px;
  }

}