 .news {
  margin: 290px 0 0 0;
}

.single-page-news {
 margin-top: 100px;
}

.row-news {
  margin-left: 20px;
  margin-top: 50px !important;
}

.row-news h2 {
  margin-bottom: 40px;
}

.news-img-horizontal, news-img-vertical {
  width: 700px;
  height: 350px;
}

.news .box {
  position: relative;
  padding: 30px;
}
.news img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

 .news .container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 6.6vh);
  grid-gap: 10px;
}

.news .text {
  position: absolute;
  bottom: 30px;
}


.news-desc {
  margin: -10px 10px 30px;
}

.author span {
  margin-left: 35px;
}

.news-image-container {
  position: relative;
  overflow: hidden;
}

.news-img {
  object-fit: cover;
  transition: transform 0.5s ease;
}

.news-image-container:hover .news-img {
  transform: scale(1.03);
}

.category:hover {
  /* filter: brightness(90%); */
  transition: ease 0.5s;
}

/* Kategori Music, Film, Entertainment, dan Game */
.category-music,
.category-film,
.category-entertainment,
.category-game {
  /* background-color: #FCBA33; */
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #FCBA33 !important;
  border: 2px solid #FCBA33;
  border-radius: 10px; /* Menambahkan radius untuk membulatkan sudut */
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  /* transition: background-color 0.3s ease; */
}

/* Efek hover */
.category-music:hover,
.category-film:hover,
.category-entertainment:hover,
.category-game:hover {
  background-color: #FCBA33;
  color: #fff !important;
  
}

/* Kategori Cultural dan Local Values */
.category-cultural,
.category-local-values {
  /* background-color: #7D5333; */
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #7D5333 !important;
  border: 2px solid #7D5333;
  border-radius: 10px; /* Menambahkan radius untuk membulatkan sudut */
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Efek hover */
.category-cultural:hover,
.category-local-values:hover {
  background-color: #7D5333;
  color: #fff !important;
}

/* Kategori Sustainability dan Environment */
.category-sustainability,
.category-environtment {
  /* background-color: #218A59; */
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #218A59 !important;
  border: 2px solid #218A59;
  border-radius: 10px; /* Menambahkan radius untuk membulatkan sudut */
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Efek hover */
.category-sustainability:hover,
.category-environtment:hover {
  background-color: #218A59;
  color: #fff !important;
}

/* Kategori News dan Journalism */
.category-news,
.category-journalism {
  /* background-color: #D62626; */
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #D62626 !important;
  border: 2px solid #D62626;
  border-radius: 10px; /* Menambahkan radius untuk membulatkan sudut */
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Efek hover */
.category-news:hover,
.category-journalism:hover {
  background-color: #D62626;
  color: #fff !important;
}

/* Kategori Fashion dan Lifestyle */
.category-fashion,
.category-lifestyle {
  /* background-color: #9C57AD; */
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #9C57AD !important;
  border: 2px solid #9C57AD;
  border-radius: 10px; /* Menambahkan radius untuk membulatkan sudut */
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Efek hover */
.category-fashion:hover,
.category-lifestyle:hover {
  background-color: #9C57AD;
  color: #fff !important;
}

/* Kategori Educational */
.category-educational {
  /* background-color: #406EBD; */
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #406EBD !important;
  border: 2px solid #406EBD;
  border-radius: 10px; /* Menambahkan radius untuk membulatkan sudut */
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Efek hover */
.category-educational:hover {
  background-color: #406EBD;
  color: #fff !important;
}

/* Kategori Travelling dan Exploration */
.category-travelling,
.category-exploration {
  /* background-color: #FF8C21; */
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #FF8C21 !important;
  border: 2px solid #FF8C21;
  border-radius: 10px; /* Menambahkan radius untuk membulatkan sudut */
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Efek hover */
.category-travelling:hover,
.category-exploration:hover {
  background-color: #FF8C21;
  color: #fff !important;
}

/* Kategori Technology */
.category-technology {
  /* background-color: #3B87D9; */
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #3B87D9 !important;
  border: 2px solid #3B87D9;
  border-radius: 10px; /* Menambahkan radius untuk membulatkan sudut */
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Efek hover */
.category-technology:hover {
  background-color: #3B87D9;
  color: #fff !important;
}

/* Kategori Food dan Cooking */
.category-food,
.category-cooking {
  /* background-color: #FF382E; */
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #FF382E !important;
  border: 2px solid #FF382E;
  border-radius: 10px; /* Menambahkan radius untuk membulatkan sudut */
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Efek hover */
.category-food:hover,
.category-cooking:hover {
  background-color: #FF382E;
  color: #fff !important;
}

/* Kategori Advertising dan Marketing */
.category-advertising,
.category-marketing {
  /* background-color: #21541F; */
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #21541F !important;
  border: 2px solid #21541F;
  border-radius: 10px; /* Menambahkan radius untuk membulatkan sudut */
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Efek hover */
.category-advertising:hover,
.category-marketing:hover {
  background-color: #21541F;
  color: #fff !important;
}

/* Kategori Sports, Health, dan Wellness */
.category-sports,
.category-health,
.category-wellness {
  /* background-color: #61C2B0; */
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #61C2B0 !important;
  border: 2px solid #61C2B0;
  border-radius: 10px; /* Menambahkan radius untuk membulatkan sudut */
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Efek hover */
.category-sports:hover,
.category-health:hover,
.category-wellness:hover {
  background-color: #61C2B0;
  color: #fff !important;
}

.text-news {
  cursor: pointer;
  text-decoration: none !important;
}

.news-readmore:hover {
  color: #F49C27 !important;
}

.news-title, .news-category, .news-author-link, .news-readmore {
  color: var(--link-color) !important;
  position: relative;
  text-decoration: none;
}

.news-title:after, 
.news-category:after, 
.news-author-link:after, 
/* .news-readmore:after, */
.single-news-category:after{   
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 0%;
  position: absolute;
  background: rgb(252,186,51);
  background: linear-gradient(90deg, rgba(252,186,51,1) 0%, rgba(33,138,89,1) 100%);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.news-title:hover:after, 
.news-category:hover:after, 
.news-author-link:hover:after, 
/* .news-readmore:hover:after, */
.single-news-category:hover:after {
  width: 100%;
  left: 0;
}
.row-news {
  margin: 0px 20px;
}

.row-news .col {
  padding-left: 10px;
  padding-right: 10px;
}

.row-news .news-item .news-image-container {
  border-radius: 15px;
  display: block;
  margin: auto;
}

.row-news .news-item .text-news {
  /* margin: 0px 10px; */
}

.border-exerpt {
  border: 1px dashed;
}

.vertical-news {
  display: grid;
  gap: 20px;
  margin-left: 20px;
  margin-top: 50px;
}

.vertical-news .col {
  display: flex;
  flex-direction: row;
}

.vertical-news .news-item {
  display: flex;
  flex-direction: row;
}

.vertical-news .news-item .news-image-container {
  /* flex: 1; */
  width: 500px;
  border-radius: 15px;
}

.vertical-news .news-item .text-news {
  flex: 1;
  margin: 0px 50px;
}

.button-news {
  padding: 1.3em 3em;
  /* font-size: 12px; */
  /* text-transform: uppercase; */
  letter-spacing: 2.5px;
  font-weight: 500;
  /* color: var(--text-color); */
  /* background-color: var(--link-color); */
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button-news:hover {
  background-color: #FCBA33;
  box-shadow: 0px 6px 20px rgba(252, 186, 51, 0.4);
  color: #fff;
  transform: translateY(-4px);
}

.button-news:active {
  transform: translateY(-1px);
}

@media screen and (max-width:1024px){

  .row-news .dashed-border {
    display: none;
  }
  
  .vertical-news {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-left: -5px;
  }
  
  .vertical-news .col {
    display: flex;
    flex-direction: column;
  }
  
  .vertical-news .news-item {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .vertical-news .news-item .news-image-container {
    /* flex: 1; */
    width: auto;
  }
  
  .vertical-news .news-item .text-news {
    flex: 1;
    margin: 0px 0px;
  }
}


@media screen and (max-width:801px){
  
  .row-news {
    margin-left: 0px;
    margin-top: 0px;
  }
}

@media screen and (max-width: 768px) {
  .news .container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(18, 6vh);
    grid-gap: 10px;
  }

  .row-news .col {
    padding-left: 5px;
    padding-right: 5px;
  }

  .vertical-news .row .col {
    padding-left: 5px;
    padding-right: 5px;
  }

  .news-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .border-exerpt {
    border: none;
  }
} 

@media (max-width: 645px) {
  .ads-topnews {
    margin-top: 50px;
  }

  .vertical-news .row .col {
    padding-left: 0;
    padding-right: 0;
  }

  .row-news .news-item .news-image-container {
    /* flex: 1; */
    width: auto;
  }

  .news-img-horizontal, news-img-vertical {
    width: 700px;
    height: 250px;
  }
  
}